{% extends "base.html" %}

{% block content %}

<h1> Quiz list </h1>

<p> This is the quiz home page. Enter your name, select one of the quizzes below and click "start quiz". </p>

<form action="/quiz" method="get">

	<div style="color: red"> {{ name_error }} </div> 	
	First name: <input type="text" name="student" value="{{student_name}}"> <br> 

	<div style="color: red"> {{ topic_error }} </div>
	<br>

	<input type="radio" name="topic" value="integers">Integers<br>
	<input type="radio" name="topic" value="multiplication">Multiplication<br>
	<input type="radio" name="topic" value="basic algebra">Algebra<br>
	<input type="radio" name="topic" value="factoring"> Factoring<br> 

	<br>

	<input type="submit" value="Start Quiz">
  
</form>

{% endblock %}
